.cajacontacto{
    display:flex;
    flex-direction:column;
    align-items:center;
    .titulocontacto{
        width:300px;
        justify-content:center;
        align-items:center;
        text-align:center;
        margin-top:40px;
        margin-bottom:20px;
        margin-left:20px;
        font-weight:bold;
        font-size:28px;
        background-color:$color-background-secondary;
        border-radius:22px 22px 22px 22px;
        -moz-border-radius:22px 22px 22px 22px;
        -webkit-border-radius:22px 22px 22px 22px;
    }
    .titulocontacto__subtitulo {
        text-align:center;
        width:200;
        height:200;
        margin-bottom:20px;
        margin-left:20px;
        color:$color-text;
        font-weight:normal;
        font-style:italic;
        font-size:20px;
    }
}
.contenedor_contacto {
    background:$color-background;
    background:radial-gradient(circle, rgb(0, 0, 0) 2%, rgb(0, 0, 0) 34%, rgb(9, 9, 9) 41%, rgb(19, 19, 19) 45%, rgb(38, 38, 38) 51%, rgb(102, 102, 102) 60%, rgb(126, 126, 126) 62%, rgb(150, 150, 150) 67%, rgb(255, 255, 255) 100%);
    border-radius:22px 22px 22px 22px;
    -moz-border-radius:22px 22px 22px 22px;
    -webkit-border-radius:22px 22px 22px 22px;
    flex-direction:row;
    justify-content:space-around;
    margin:50px;
    padding:20px;
    display:flex;
    .contacto {
        text-align:center;
        margin-top:40px;
        margin-bottom:20px;
        margin-left:20px;
        color:$color-text-secondary;
        font-weight:bold;
        font-size:28px;
        text-align:left;
    }
    .datos_enviar{
        margin-top:10px;
    }
    label {
        color:$color-text;
        font-size:18px;
        vertical-align:top;
        text-align:center;
    }
    img {
        width:450px;
        height:450px;
        background-position:right;
        margin-left:20px;
        margin-bottom:20px;
        justify-items:center;
    } 
}
@media screen and (max-width: 1000px){
    .contenedor_contacto{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center; 
        img {
            width:300px;
            height:300px;
            margin-top:25px;
            align-items:center;
            justify-content:center;
            border-radius:10px;
        }
    }
}